.body{
margin: 0px;
font-family:Arial, Helvetica, sans-serif;

}

header{
    background-image: url("../images/apple-pie.jpg");
    background-repeat: no-repeat;
    height: 20em;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 50rem;
    
    
}

h1{
color: rgb(255, 255, 255);
text-align: center;
justify-content: center;
margin-top: 100px;

}

p{
 text-align: justify;
 font-size: 1.5em;
}

ol{
list-style-type: none;
counter-reset: list
}
.contenidor{
width: 800px;
margin: 0 auto;

}
.list-proceso li:before{
    content: counter(list, counter) ") ";
    counter-increment: list;

}
